<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="becley.becley">
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyC5kPu77pDJ1BSV4Of4GqsqxVKzoxI5EAg" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ShakeTest">
        <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        </activity>

        <service android:name=".MessageService"
            />

        <service android:name=".HpRecoveryService">
            <intent-filter>
                <action android:name="becley.becley.hprecoveryservice"/>
            </intent-filter>
        </service>

    </application>

</manifest>